$rit-1px : 0.0625rem;
$rit-2px : 0.125rem;
$rit-3px : 0.1875rem;
$rit-4px : 0.25rem;
$rit-5px : 0.3125rem;
$rit-6px : 0.375rem;
$rit-7px : 0.4375rem;
$rit-8px:   0.5rem; // 8px = 0.5rem
$rit-9px :  0.5625rem; // 9px = 0.5625rem
$rit-10px:  0.625rem; // 10px = 0.625rem
$rit-11px:  0.6875rem; // 11px = 0.6875rem
$rit-12px:  0.75rem; // 12px = 0.75rem
$rit-13px:  0.8125rem; // 13px = 0.8125rem
$rit-14px:  0.875rem; // 14px = 0.875rem
$rit-15px:  0.9375rem; // 15px = 0.9375rem
$rit-16px:  1rem; // 16px = 1rem (base)
$rit-18px:  1.125rem; // 18px = 1.125rem
$rit-20px:  1.25rem; // 20px = 1.25rem
$rit-22px:  1.375rem; // 22px = 1.375rem
$rit-24px:  1.5rem; // 24px = 1.5rem
$rit-25px:  1.5625rem;// 25px = 1.5625rem
$rit-26px:  1.625rem; // 26px = 1.625rem
$rit-28px:  1.75rem; // 28px = 1.75rem
$rit-30px:  1.875rem; // 30px = 1.875rem
$rit-32px:  2rem; // 32px = 2rem
$rit-33px:  2.0625rem; // 32px = 2rem
$rit-34px:  2.125rem; // 34px = 2.125rem
$rit-36px:  2.25rem; // 36px = 2.25rem
$rit-38px:  2.375rem; // 38px = 2.375rem
$rit-40px:  2.5rem; // 40px = 2.5rem
$rit-44px:  2.75rem; // 44px = 2.75rem
$rit-45px:  2.813rem; // 45px = 2.813rem
$rit-48px:  3rem;     // 48px = 3rem
$rit-50px:  3.125rem; // 50px = 3.125rem
$rit-55px:  3.438rem; // 50px = 3.438rem
$rit-60px:  3.750rem; // 60px = 3.750rem
$rit-64px:  4rem;     // 64px = 4rem
$rit-55px:  3.438rem; // 50px = 3.125rem
$rit-70px:  4.375rem; // 70px = 4.375rem
$rit-75px:  4.688rem; // 75px = 4.688rem
$rit-80px:  5rem;     // 80px = 5rem
$rit-96px:  6rem;     // 96px = 6rem
$rit-100px: 6.25rem; // 100px = 6.25rem
$rit-110px: 6.875rem; // 110px = 6.875emrem
$rit-120px: 7.5rem;   // 120px = 7.5rem
$rit-130px: 8.125rem; // 130px = 8.125rem
$rit-135px: 8.438rem; // 135px = 8.438rem
$rit-140px: 8.75rem;  // 140px = 8.75rem
$rit-150px: 9.375rem; // 150px = 9.375rem

$content-width: $rit-100px * 9.8;



$gray-6: rgba(0, 0, 0, 0.05);
$gray-5: rgba(0, 0, 0, 0.12);
$gray-4: rgba(0, 0, 0, 0.2);
$gray-3: rgba(0, 0, 0, 0.38);
$gray-2: rgba(0, 0, 0, 0.54);
$gray-1: rgba(0, 0, 0, 0.87);

$blue: #1740f2;
$secondary: #3f51b5;
