@import "mixins";

:host {
    @include flex-column;
    padding: $rit-20px;
    border-radius: $rit-8px;
    border: $rit-1px solid $gray-5;
    transition: all .2s;

    &:hover {
        box-shadow: 0 $rit-4px $rit-8px rgba(0,0,0,.2);
    }

    a {
        text-decoration: none;
        color: $gray-1;
        transition: all .2s;

        .name {
            margin: 0 0 $rit-16px;
        }

        &:hover {
            .name {
                color: $blue;
            }
        }
    }

    .planet-parameters {
        @include card-parameters;
    }

}